.login_bg {
  background: linear-gradient(
    169.99deg,
    rgb(239, 246, 255) 0%,
    rgb(224, 231, 255) 100%
  );
}
.border_pri {
  box-sizing: border-box;
  border: 1px solid rgb(229, 231, 235);
  border-radius: 6px;
}
.title {
  color: #111827;
}
.text_brand {
  color: var(--primary);
}
.text_pri {
  color: rgb(17, 24, 39);
}
.text_sec {
  color: #374151;
}
.text_third {
  color: #9ca3af;
}
